*,
.form__btn,
a,
applet,
article,
b,
body,
canvas,
caption,
center,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
p{
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    unicode-bidi: bidi-override;
}

// global
.figure-bg{
	position: absolute;
}
.logo{
    display: flex;
    width: 230px;
    height: 70px;

    border: 5px solid;
    border-radius: 3px;
    &__left{
        width: 75px;

        border-right: 5px solid;
    }
    &__right{
        display: flex;

        width: 155px;

        align-items: center;
    }
    &__title{
        font-size: 26px;
        line-height: 1.2;

        user-select: none;
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;

    }
}
.btn{
	font-size: 36px;
    font-weight: bold;
    width: 400px;
    height: 80px;
	letter-spacing: 1.35px;
	border-radius: 50px;
    background: linear-gradient(89.2deg, #ffdc25 .14%, rgba(255, 138, 0, .73) 99.29%), #ffd90f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
}
.input{
    font-size: 20px;

    box-sizing: border-box;
    height: 64px;
    padding: 10px 25px;

    text-align: right;

    color: #fff;
    border: 2px solid #366799;
    border-radius: 8px;
    background: #09223f;
    box-shadow: 0 19px 38px rgba(0, 0, 0, .15), 0 15px 12px rgba(0, 0, 0, .11);
}
.input::placeholder{
	color: #fff;
}
// global end


// block-1
.header{
    height: 666px;
    background: url(../img/bg_header.jpg) no-repeat center top / cover;
	&__figure-bg--left{
		top: 0px;
		left: 130px;
		display: flex;
		flex-direction: column-reverse;
	}
	&__figure-bg--left img:first-child{
		position: absolute;
		bottom: 136px;
		left: -15px;
	}
	&__figure-bg--right{
		top: 114px;
		right: 35px;
	}
    &__girl{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
    }
    &__girl::before{
        content: url(../img/girl_left.png);
        z-index: 1;
        position: absolute;
        left: 315px;
    }
    &__girl::after{
        content: url(../img/girl_right.png);
        z-index: 1;
        position: absolute;
        right: 212px;
    }
    &__content{
        width: 400px;
        z-index: 2;
    }
    &__logo{
        margin: auto;
    }
}
.logo--white{

	border-color: #fff;
	.logo__left{
		border-color: #fff;
	}
	.logo__title{
		color: #fff;
	}
}
.form{
    &__name{
        width: 96.5%;
        margin: 72px 0 30px 15px;
        direction: ltr;
    }
    &__text{
        margin-bottom: 30px;
        margin-left: 15px;
		font-size: 20px;
        text-align: center;
    }
    &__phone{
    	width: 96.5%;
    	margin-left: 15px;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
    }
    .phone-input__number{
    	width: 100%;
		flex-basis: 56.75%;
    }
    .phone-input__divider{
    	width: 100%;
    	flex-basis: 40.5%;
	}
    &__privacy{
    	display: block;
    	text-align: right;
        font-size: 14px;
        margin-right: -6px;
    }
    &__btn{
	    margin-top: 47px;
	    margin-bottom: 82px;
	    margin-left: 8px;
    }
}
// block-1 end



// block-2
.advantages-bg {
	background: url(../img/bg_advantages.png) left 5% / 15% 100% repeat-x;
    height: 248px;
    width: 100%;
    margin-top: -2px;
}
.advantages {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	&__unit {
		width: 320px;
		box-sizing: border-box;
		padding: 35px 64px 0 64px;
		text-align: center;
	}
	&__title {
		font-weight: bold;
		font-size: 28px;
	}
	&__img {
		margin: 23px 0;
	}
	&__description {
		font-weight: bold;
		font-size: 14px;
	}
}
// block-2 end




// block-3
.bonus {
	position: relative;
	height: 545px;
    background: url(../img/bg_bonus.png) no-repeat center top / cover;
	&__figure-bg--left {
		top: 40px;
		left: 382px;
	}
	&__figure-bg--left img:last-child{
		position: absolute;
		top: 69px;
		left: -140px;
	}
	&__main {
		padding-top: 53px;
		width: fit-content;
		margin: auto;
		text-align: center;
		padding-left: 13px;
	}
	&__title {
		font-weight: bold;
		font-size: 40px;
	}
	&__pointer {
		margin-top: 52px;
	}
	&__value {
		margin-bottom: 33px;
		padding-left: 12px;
	}
	&__btn {
		display: block;
		margin: auto;
		text-decoration: none;
		line-height: 80px;
	}
	&__figure-bg--right {
		display: flex;
		flex-direction: column;
		top: 52px;
		right: 15px;
	}
	&__figure-bg--right img:first-child{
		width: fit-content;
	}
	
}
.color-gold{
	color: #FFC807;
}
// block-3 end







.footer {
	background-color: #000D21;
	height: 376px;
	&__main {
		width: 64%;
		margin: auto;
		padding: 31px 0 0 20px;
	}
	&__icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 24px;
		padding: 32px 0 33px 0;
		border-top: 1px solid #423A4D;
		border-bottom: 1px solid #423A4D;
	}
	&__logos {
		display: flex;
    	flex-direction: column;
	}
	&__logos img:first-child{
		margin-bottom: 16px;
	}
	&__logo {}
	&__icon{
		display: flex;
		flex-wrap: wrap;
		width: 490px;
		height: 150px;
		align-content: space-between;
		justify-content: space-between;
	}
	&__icon img{
		width: 31%;
	}
	&__article p{
		font-size: 10px;
		line-height: 14px;
		letter-spacing: 0.4px;
		color: #ccc;
	}
}






















/* для элемента input c type="checkbox" */
.custom-checkbox > input{
    position: absolute;
    z-index: -1;

    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span{
    display: inline-flex;

    user-select: none;

    align-items: center;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::after{
    display: inline-block;

    width: 1em;
    height: 1em;
    margin-right: .5em;
    margin-left: 16px;

    content: '';

    border: 1px solid #adb5bd;
    border-radius: .25em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;

    flex-shrink: 0;
    flex-grow: 0;
}



/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::after{
    margin-left: 16px;

    border-color: #ffc800;
    background-color: #ffc800;
    background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 8 8\'%3e%3cpath fill=\'%23000\' d=\'M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z\'/%3e%3c/svg%3e');
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox > input:disabled + span::after{
    background-color: #e9ecef;
}
